.a{
    background-color: blueviolet;
    padding: 10px;
    width: 80%;
    margin: 20px;
    border-radius: 20px;
}
.b{
    background-color: rgb(226, 43, 110);
    padding: 10px;
    width: 80%;
    margin: 20px;
    border-radius: 20px;
}
.c{
    background-color: rgb(43, 52, 226);
    padding: 10px;
    width: 80%;
    margin: 20px;
    border-radius: 20px;
    color: white;
}